@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header img{
    height: 180px;
    width: 170px;
}

h1{
    font-size: 35px;
    text-align: center;
}

.boutons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}

button{
    height: 100px;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50px;
    border: 0.5px solid black;
}

label{
    font-weight: bold;
   font-size: 18px;
}

.bloc{
    height: 70px;
    width: 100%;
    background-color: #2529BD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloc h2{
    color: white;
    font-size: 35px;
}

.joueurs div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.joueurs img{
    height: 350px;
    width: 245px;
    border-radius: 40px;
}

.joueurs h2{
    text-align: center;
    font-weight: bold;
}

.joueurs p{
    font-size: 20px;
    white-space : nowrap;
}

